@media only screen and (max-width: 599px) {
  #hero {
    .heroBox {
      position: relative;
      top: unset;
      left: unset;
      width: 90%;
      text-align: center;
      margin: -25rem auto 0 auto;

      h1 {
        font-size: 3.8rem;
      }
      h3 {
        font-size: 2rem;
      }
    }
  } // hero
  #howTo {
    text-align: center;

    .howTo-productDesc, .howTo-text {
      padding-left: unset;
      width: 90%;
      margin: 0 auto;

      h2 {
        font-size: 3rem;
      }
      h5 {
        font-size: 2rem;
      }
    }
    .howTo-productDesc {
      order: 1;
    }
    .howTo-text {
      order: 3;
    }
    .howTo-img {
      order: 2;
      position: relative;
      top: unset;
      right: unset;
      width: 100%;
    }
  } // howTo
  #testimonials {
    .quotes {
      width: 26%;
      padding-top: 0;
      margin-bottom: 1.8rem;
    } // quotes
  } // testimonials
  #testimonialsSlider {
    width: 90%;
  }
  .ingredients {
    .ingredients-box {

    } // ingredients-box
    #ingredientsDesc {

    } // ingredientsDesc
  } //ingredients

} // Mobile - everything smaller than 600
// @media only screen and (min-width: 550px) and (max-width: 699px) {

// } // min 550 to max 699 - Bigger mobile exceptions

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .content-wrapper {
    .button-cta {
      font-size: 1.6rem;
      padding: .6rem 2rem;
    }
  }
  #hero {

  } //hero
} // min 600 to max 1024 - Tablet

// @media only screen and (min-width: 900px) and (max-width: 1024px) {

// } // min 900 to max 1024 - Tablet landscape exceptions
